<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>518_term</display-name>
  <welcome-file-list>
    <welcome-file>HomePageServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>edu.albany.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.albany.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>edu.albany.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductReviewsServlet</servlet-name>
    <servlet-class>edu.albany.servlet.ProductReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductReviewsServlet</servlet-name>
    <url-pattern>/ProductReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyProductsServlet</servlet-name>
    <servlet-class>edu.albany.servlet.MyProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProductsServlet</servlet-name>
    <url-pattern>/MyProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SellerProductsServlet</servlet-name>
    <servlet-class>edu.albany.servlet.SellerProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerProductsServlet</servlet-name>
    <url-pattern>/SellerProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SellerOrdersServlet</servlet-name>
    <servlet-class>edu.albany.servlet.SellerOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerOrdersServlet</servlet-name>
    <url-pattern>/SellerOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShippedOrderServlet</servlet-name>
    <servlet-class>edu.albany.servlet.ShippedOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippedOrderServlet</servlet-name>
    <url-pattern>/ShippedOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSellerProductServlet</servlet-name>
    <servlet-class>edu.albany.servlet.DeleteSellerProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSellerProductServlet</servlet-name>
    <url-pattern>/DeleteSellerProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewReviewsServlet</servlet-name>
    <servlet-class>edu.albany.servlet.ViewReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewsServlet</servlet-name>
    <url-pattern>/ViewReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>edu.albany.servlet.ViewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/ViewProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>edu.albany.servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerProductsServlet</servlet-name>
    <servlet-class>edu.albany.servlet.ManagerProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerProductsServlet</servlet-name>
    <url-pattern>/ManagerProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteManagerProductServlet</servlet-name>
    <servlet-class>edu.albany.servlet.DeleteManagerProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManagerProductServlet</servlet-name>
    <url-pattern>/DeleteManagerProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerOrdersServlet</servlet-name>
    <servlet-class>edu.albany.servlet.ManagerOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerOrdersServlet</servlet-name>
    <url-pattern>/ManagerOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseOrderServlet</servlet-name>
    <servlet-class>edu.albany.servlet.CloseOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseOrderServlet</servlet-name>
    <url-pattern>/CloseOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Managernotification</servlet-name>
    <servlet-class>edu.albany.servlet.Managernotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Managernotification</servlet-name>
    <url-pattern>/Managernotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Managersearchusers</servlet-name>
    <servlet-class>edu.albany.servlet.Managersearchusers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Managersearchusers</servlet-name>
    <url-pattern>/Managersearchusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deleteuserservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Deleteuserservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteuserservlet</servlet-name>
    <url-pattern>/Deleteuserservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inboxservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Inboxservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inboxservlet</servlet-name>
    <url-pattern>/Inboxservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Outboxservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Outboxservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Outboxservlet</servlet-name>
    <url-pattern>/Outboxservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Replyservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Replyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Replyservlet</servlet-name>
    <url-pattern>/Replyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Readservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Readservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Readservlet</servlet-name>
    <url-pattern>/Readservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tuserservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Tuserservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tuserservlet</servlet-name>
    <url-pattern>/Tuserservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Approveservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Approveservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approveservlet</servlet-name>
    <url-pattern>/Approveservlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Delete_t_userservlet</servlet-name>
    <servlet-class>edu.albany.servlet.Delete_t_userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_t_userservlet</servlet-name>
    <url-pattern>/Delete_t_userservlet</url-pattern>
  </servlet-mapping>
</web-app>